html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgb(239,232,180);
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/*
  Bootstrap override
  so !important is important...
 */
button {
  border-radius: 0!important;
  border: none!important;
  background-color: #60afb5!important;
}
.form-control {
  border-radius: 0!important;
  background-color: #EFE8B4!important;
}
.navbar {
  background-color: #60afb5!important;
  border: 0!important;
}
.navbar .navbar-brand {
  width: 250px;
  background-color: #C7B520!important;
  color: #EFE8B4!important;
}
.navbar .nav a {
  color: #EFE8B4!important;
}
.navbar .nav > li > a {
  font-weight: bold!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  border-top: 7px solid transparent;
  border-bottom: 7px solid #60afb5;
}
.navbar .nav > li > a:hover {
  border-bottom: 7px solid #225d69;
}
.navbar .nav > li.open > a {
  color: #EFE8B4!important;
  background-color: #225d69!important;
  font-weight: bold!important;
  border-top: 7px solid #225d69;
  border-bottom: 7px solid #225d69;
}
.navbar .dropdown-menu {
  background-color: #225d69!important;
}
.navbar .dropdown-menu a:hover{
  background-color: #C7B520!important;
}
.blue {
  color: #60afb5;
}
.leaflet-control-layers {
  background-image: url('/assets/img/paper.jpg');
}
.feature-row {
  color: #225d69;
  background-color: #EFE8B4;
}
.feature-row:hover {
  background-color: #f16f46!important;
}
#searchbox {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 150px;
}
#searchbox:focus {
  width: 450px;
}
.modal-content {
  border-radius: 0;
  background-color: rgb(239,232,180);
}
#feature-title {
  color: rgb(239,232,180);
  background-color: #225d69;
  padding: 15px;
  font-weight: bold;
}
#feature-title img {
  margin-right: 30px;
}
#featureModal .modal-header .close {
  color: white;
  background-color: transparent!important;
  font-size: 77px;
  margin-right: 14px;
}
#feature-info .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgb(242,111,70);
}
#feature-info .table-striped > tbody > tr:nth-of-type(even) {
  background-color: rgb(241, 151, 122);
}
#feature-info .table-striped > tbody > th {
  color: #225d69;
}
.feature-row img {
    max-height: 25px;
}
.half-big {
  font-size: 1.5em;
  margin-left: -2px;
}

#popupimg {
    width : 100%;
}

#sidebar {
  width: 250px;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 50px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 150;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: url('/assets/img/paper.jpg');
  color: rgb(239,232,180);
}
#sidebar.slip {
  left: -250px;
}
#sidebar div {
  background: transparent;
  border: none;
}
#sidebar .panel-title {
  color: rgb(239,232,180);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
#sidebar .panel-title i {
  cursor: pointer
}
#sidebar .panel-title i:hover {
  color: white;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}


/* spécifique Isogeo */
#metadataModal .modal-dialog {
    /*min-width: 40%;*/
    height: 90%;
    max-width: 1170px;
}

#metadataModal .modal-content {
    /*min-width: 40%;*/
    height: 100%;
}

#metadataModal .modal-body {
    /*min-width: 40%;*/
    height: 90%;
    padding: 0;
}

#metadataModal .modal-body iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.awesome-marker i {
    font-size: 18px;
    margin-top: 10px;
}

#venue-images .grid-sizer,
#venue-images .grid-item {
  width: 49%;
  margin-bottom: 5px;
}
#venue-images .grid-item img {
  width: 100%;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 60%!important;
  }
}
